.content {
  width: 100%;
  height: calc(100vh - 75px);
  overflow-y: auto;
  background-color: var(--light);
}
.content::-webkit-scrollbar {
  display: none;
}
.contentData {
  margin: 25px 20px;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: rgba(178, 181, 184, 0.2) 0px 8px 24px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.uploadBtn {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgb(168, 98, 233);
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}
.submitBtn {
  width: 100%;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: rgb(54, 141, 248);
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
}
.uploadedImgDiv {
  border: 1px solid gray;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.scrollable-container {
  width: 100%; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  overflow-y: scroll;
  border: 1px solid #ccc; /* Border color and style */
}

.scrollable-content {
  padding: 10px; /* Adjust spacing */
}

/* Custom scrollbar */
.scrollable-container::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 5px; /* Rounded corners */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar thumb color on hover */
}

#vid {
  transition: transform 0.2s ease-in-out;
}

#vid:hover {
  transform: scale(1.1);
}






@import url("https://fonts.googleapis.com/css?family=Mukta:700");
/* * {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
} */

#buttondiv {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #f3f8fa;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

@supports (display: grid) {
  #buttondiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }

  #containerbtn{
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}



